* {
  padding: 0; margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; font-size: 1rem;
}



:root {
  --white: #fff;
  --black: #000;

  --slate50: #f8fafc;
  --slate100: #f1f5f9;
  --slate200: #e2e8f0;
  --slate300: #cbd5e1;
  --slate400: #94a3b8;
  --slate500: #64748b;
  --slate600: #475569;
  --slate700: #334155;
  --slate800:  #1e293b;
  --slate900:  #0f172a;
  --slate950: #020617;

  --blue50: #eff6ff;
  --blue100: #dbeafe;
  --blue200: #bfdbfe;
  --blue300: #93c5fd;
  --blue400: #60a5fa;
  --blue500: #3b82f6;
  --blue600: #2563eb;
  --blue700: #1d4ed8;
  --blue800: #1e40af;
  --blue900: #1e3a8a;
  --blue950: #111d6c;

  --indigo50: #eef2ff;
  --indigo100: #e0e7ff;
  --indigo200: #c7d2fe;
  --indigo300: #a5b4fc;
  --indigo400: #818cf8;
  --indigo500: #6366f1;
  --indigo600: #4f46e5;
  --indigo700: #4338ca;
  --indigo800: #3730a3;
  --indigo900: #312e81;
  --indigo950: #1e1b4b;


  --default-btn-bg: var(--slate950);
  --default-btn-txt-color: var(--white);
}



@mixin doFlex($flexDirection, $justifyContent, $alignItems, $gap) {
  display: flex; flex-direction: $flexDirection; justify-content: $justifyContent; align-items: $alignItems; gap: $gap;
}



h1 {font-size: 3rem; font-weight: 800; letter-spacing: -.15rem; scale: 1 .85;}

h3 {font-size: 2rem;}



#root {overflow-x: hidden}



.btn {
  @include doFlex(row, center, center, 1em);
  padding: 1em;
  text-transform: capitalize;
  background-color: var(--default-btn-bg); color: var(--default-btn-txt-color);
  border: 1px solid var(--default-btn-txt-color); border-radius: .5em;

  cursor: pointer; transition: .2s;
}



// forms
.default-form-container {
  @include doFlex(column, center, center, 0);
  width: 100vw;
  min-height: 100vh; height: auto;
  padding: 1em;
  background: linear-gradient(45deg, var(--blue500) 0, var(--indigo400) 100%);

  .default-form {
    @include doFlex(column, center, center, 1em);
    min-width: 450px; max-width: 720px;
    padding: 1.5em;
    background-color: var(--white);
    border-radius: .5em;

    .field {
      @include doFlex(column, center, center, 0em);
      width: 100%;

      label, input:not([type="submit"]), textarea {display: block; width: 100%;}

      label {
        font-weight: bold;
      }
      
      input:not([type="submit"]) {
        padding: .5em;
        border: 1px solid var(--slate300);
        background-color: var(--slate100);
        border-radius: .25em;
      }
    }

    .links {
      @include doFlex(column, center, center, .5em);
      list-style-type: none;
    }
  }
}
