* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

:root {
  --white: #fff;
  --black: #000;
  --slate50: #f8fafc;
  --slate100: #f1f5f9;
  --slate200: #e2e8f0;
  --slate300: #cbd5e1;
  --slate400: #94a3b8;
  --slate500: #64748b;
  --slate600: #475569;
  --slate700: #334155;
  --slate800: #1e293b;
  --slate900: #0f172a;
  --slate950: #020617;
  --blue50: #eff6ff;
  --blue100: #dbeafe;
  --blue200: #bfdbfe;
  --blue300: #93c5fd;
  --blue400: #60a5fa;
  --blue500: #3b82f6;
  --blue600: #2563eb;
  --blue700: #1d4ed8;
  --blue800: #1e40af;
  --blue900: #1e3a8a;
  --blue950: #111d6c;
  --indigo50: #eef2ff;
  --indigo100: #e0e7ff;
  --indigo200: #c7d2fe;
  --indigo300: #a5b4fc;
  --indigo400: #818cf8;
  --indigo500: #6366f1;
  --indigo600: #4f46e5;
  --indigo700: #4338ca;
  --indigo800: #3730a3;
  --indigo900: #312e81;
  --indigo950: #1e1b4b;
  --default-btn-bg: var(--slate950);
  --default-btn-txt-color: var(--white);
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: -0.15rem;
  scale: 1 0.85;
}

h3 {
  font-size: 2rem;
}

#root {
  overflow-x: hidden;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
  text-transform: capitalize;
  background-color: var(--default-btn-bg);
  color: var(--default-btn-txt-color);
  border: 1px solid var(--default-btn-txt-color);
  border-radius: 0.5em;
  cursor: pointer;
  transition: 0.2s;
}

.default-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  padding: 1em;
  background: linear-gradient(45deg, var(--blue500) 0, var(--indigo400) 100%);
}
.default-form-container .default-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  min-width: 450px;
  max-width: 720px;
  padding: 1.5em;
  background-color: var(--white);
  border-radius: 0.5em;
}
.default-form-container .default-form .field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0em;
  width: 100%;
}
.default-form-container .default-form .field label, .default-form-container .default-form .field input:not([type=submit]), .default-form-container .default-form .field textarea {
  display: block;
  width: 100%;
}
.default-form-container .default-form .field label {
  font-weight: bold;
}
.default-form-container .default-form .field input:not([type=submit]) {
  padding: 0.5em;
  border: 1px solid var(--slate300);
  background-color: var(--slate100);
  border-radius: 0.25em;
}
.default-form-container .default-form .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  list-style-type: none;
}

.book-view {
  position: relative;
  width: 100vw;
  height: calc(100vh - 65px);
}

.btn.btn-save {
  position: absolute;
  z-index: 1000;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(0% - 10px));
}

.btn.btn-close {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  transform: translate(calc(0% + 10px), calc(0% + 10px));
}

.panel {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  gap: 0;
}
.panel.modal-active {
  pointer-events: none;
  height: calc(100vh - 65px);
  overflow-y: hidden;
}
.panel.modal-active::before {
  position: absolute;
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  opacity: 0.5;
}
.panel .tab {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1em;
  padding: 2em;
}
.panel .tab ul {
  list-style-type: none;
}
.panel .shelves {
  min-width: -moz-max-content;
  min-width: max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  border-right: 1px solid var(--slate300);
}
.panel .shelves ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  gap: 0.5em;
}
.panel .shelves ul .shelf > button {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.5em;
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: 0 1em 1em 0;
  cursor: pointer;
}
.panel .shelves ul .shelf > button::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 0.2em;
  background-color: #2d2d2d;
}
.panel .shelves ul .shelf > button::before {
  background-color: var(--shelf-color);
}
.panel .shelves ul .shelf > button.active {
  background-color: var(--blue100);
}
.panel .shelves ul .shelf:first-of-type button::before {
  display: none;
}
.panel .books {
  width: 100%;
}
.panel .books ul {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}
.panel .books ul li.book {
  height: 150px;
  width: 100px;
  padding: 0.5em;
  background-color: var(--blue100);
  background-color: var(--book-color);
  border-radius: 0.2em;
  cursor: pointer;
}
.panel .sep {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--slate300);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: auto !important;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1em;
  padding: 2em;
  background-color: var(--white);
  border-radius: 0.5em;
}
.modal .rightcorner-btn {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-1em, 1em);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  background-color: var(--slate200);
  color: var(--slate500);
  cursor: pointer;
}/*# sourceMappingURL=dashboard.css.map */