@import "../../main";

.book-view {
  position: relative;
  width: 100vw;
  height: calc(100vh - 65px);
}


.btn.btn-save {
  position: absolute;
  z-index: 1000;
  bottom: 0; left: 50%;
  transform: translate(-50%, calc(0% - 10px));
}
.btn.btn-close {
  position: absolute;
  z-index: 1000;
  top: 0; left: 0;
  transform: translate(calc(0% + 10px), calc(0% + 10px));
}

.panel {
  position: relative;
  @include doFlex(row, stretch, stretch, 0);

  &.modal-active {
    pointer-events: none;
    height: calc(100vh - 65px);
    overflow-y: hidden;

    &::before {
      position: absolute;
      content: '';
      display: block;
      width: 100vw;
      height: 100vh;
      background-color: var(--black);
      opacity: .5;
      z-index: 2;
    }
  }

  .tab {
    @include doFlex(column, start, start, 1em);
    padding: 2em;
    // pointer-events: auto;

    ul {list-style-type: none;}
  }

  .shelves {
    min-width: max-content; max-width: max-content;
    border-right: 1px solid var(--slate300);

    ul {
      @include doFlex(column, start, stretch, .5em);
      
      .shelf {
        > button {
          @include doFlex(row, start, center, .5em);
          width: 100%;
          padding: 1em;
          border: none; border-radius: 0 1em 1em 0;
          cursor: pointer;
      
          &::before {
            content: '';
            display: block;
            width: 15px; height: 15px;
            border-radius: .2em;
            background-color: #2d2d2d;
          }
    
          &::before {background-color: var(--shelf-color);}
    
          &.active {background-color: var(--blue100);}
        }
    
        &:first-of-type {
          button::before {display: none;}
        }
      }
    }
  }

  .books {
    width: 100%;

    ul {
      @include doFlex(row, start, center, 1em);
      flex-wrap: wrap;

      li.book {
        position: relative;
        height: 150px; width: 100px;
        padding: .5em;
        background-color: var(--blue100);
        background-color: var(--book-color);
        border-radius: .2em;
        cursor: pointer;

        &:focus .options, &:active .options, &:hover .options {opacity: 1;}

        .options {
          position: absolute;
          bottom: 0; right: 0;
          transform: translate(-.5em, -.5em);
          @include doFlex(column, center, center, .5em);
          opacity: 0;

          transition: .2s;

          button {
            width: 30px; height: 30px;
            border-radius: 100%;
            border: none;
            background-color: var(--slate200); color: var(--slate400);
            opacity: .5;

            cursor: pointer;
            transition: .2s;

            &:focus, &:hover, &:active {opacity: 1;}
          }
        }
      }
    }
  }

  .sep {display: block; width: 1px; height: 100%; background-color: var(--slate300);}
}



.modal { 
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: auto !important;
  z-index: 10;
  @include doFlex(column, center, stretch, 1em);
  padding: 2em;

  background-color: var(--white);
  border-radius: .5em;

  .rightcorner-btn {
    position: absolute;
    right: 0; top: 0;
    transform: translate(-1em, 1em);
    width: 40px; height: 40px;
    border-radius: 100%;
    border: none;

    background-color: var(--slate200); color: var(--slate500);
    cursor: pointer;
  }
}
