@import "../../main";

.viewport {
  width: 100vw;
  height: 100vh;
  
  canvas {
    position: relative;
    z-index: 0;

  }
}


.btn {
  position: absolute;
  z-index: 1000;
  bottom: 0; left: 50%;
  transform: translate(-50%, calc(0% - 1em));
}
